<div id="login-form" class="loginForm mt-5">
  
  <form action="/auth/login" method="POST">
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-white">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Your username" aria-describedby="emailHelp">
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label text-white">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Your password" value="123456">
  </div>
  
  <div class="divlogBtn ">
    <button type="submit" class="btn btn-primary m-3 p-4">Log In</button>
    <p class="m-3"><a href="/auth/signup">Sign Up</a></p>
  </div>
  
  {{#if errorMessage}}
      <p class="errorMsg">{{errorMessage}}</p>
  {{/if}}

</form>
</div>