<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    {{!-- <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label> --}}
    <br><br>
    <label> Password
      <input type="password" name="password" placeholder="Your password" value="123456"/>
    </label>
    <br>
    <br>
    <button type="submit">Log In</button>
    <a href="/auth/signup">Sign Up</a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>