<div id="form">
  <h2>Sign Up</h2>
  <br>
  <form action="/auth/signup" method="POST">
    <label> Username: 
      <input type="text" name="username" placeholder="Your username" />
    </label>
    <br><br>
    <label> Email: 
      <input type="email" name="email" placeholder="Your email" value="somemail@mail.com"/>
    </label>
    <br><br>
    <label> Password: 
      <input type="password" name="password" placeholder="Your password" value="123456"/>
    </label>
    <br><br>
    <label> Edad: 
      <input type="number" name="edad" placeholder="Your age" value="99"/>
    </label>
    <br><br>
    <label> Gender: 
      <input type="text" name="gender" placeholder="Your gender" value="others" />
    </label>
    <br><br>
    <label>Phone Number: 
      <input type="number" name="phone" placeholder="Your phone" value="687279990"/>
    </label>
    <br><br>
    <button type="submit">Sign Up: </button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>