{{!-- TODO --}}
<div id="registerForm" class="registerForm mt-5">
  
  <form action="/auth/login" method="POST">
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-white">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Your username" aria-describedby="emailHelp">
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label text-white">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Your password" value="123456">
  </div>
  
  <div class="divlogBtn ">
    <button type="submit" class="btn btn-primary m-3 p-4">Log In</button>
    <p class="m-3"><a href="/auth/signup">Sign Up</a></p>
  </div>
  
  {{#if errorMessage}}
      <p class="errorMsg">{{errorMessage}}</p>
  {{/if}}

</form>
</div>


<div id="form">
  <h2>Sign Up</h2>
  <br>
  <form action="/auth/signup" method="POST">
    <label> Username: 
      <input type="text" name="username" placeholder="Your username" />
    </label>
    <br><br>
    <label> Email: 
      <input type="email" name="email" placeholder="Your email" value="somemail@mail.com"/>
    </label>
    <br><br>
    <label> Password: 
      <input type="password" name="password" placeholder="Your password" value="123456"/>
    </label>
    <br><br>
    <label> Img: 
      <input type="text" name="img" placeholder="Your img url" value="https://picsum.photos/200/300"/>
    </label>
    <br><br>
    <label> Edad: 
      <input type="number" name="edad" placeholder="Your age" value="99"/>
    </label>
    <br><br>
    <label> Gender: 
      <input type="text" name="gender" placeholder="Your gender" value="others" />
    </label>
    <br><br>
    <label>Phone Number: 
      <input type="number" name="phone" placeholder="Your phone" value="687279990"/>
    </label>
    <br><br>
    <button type="submit">Sign Up: </button>
    <a href="/auth/login">Back to Log In</a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>