body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.containerBgImg {
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}


.containerBgImg button {
  width: 120px;
}