body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(0, 0, 108);
}

a {
  background-color: #4050ff;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 1px;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  background-color: #0093ce;
}

.containerProfile{
  margin: auto;
  text-align: center;
}

.containerBgImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 400px;
  margin: auto;
  border: 2px solid white;
  border-radius: 15px;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.navbar {
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 20px;
  font-weight: bold;
}

.card-title span {
  color: white;
  text-shadow: 3px 3px black;
}

.cardBtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cardBtn button {
  border: 2px solid black;
  font-weight: bold;
}

.aNeedMoreSize:hover {
  font-size: 1.8rem;
}

.chatLink {
  color: yellow;
}

.encabezamientos {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.updateBtn, .deleteBtn{
  font-weight: bold;
}

.containerBgImgProfile{
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 400px;
  margin: auto;
  border: 2px solid white;
  border-radius: 15px;
}

.usersTitleProfile {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.errorMsg {
  margin-top: 3rem;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.borderCont{
  background-color: #00559b;
  width: 100vw;
  height: 300px;
  border-radius: 15px;
  align-items: center;
}

.divlogBtn button {
  font-size: 1.2rem;
  font-weight: bold;
}

.divsignBtn {
  display: flex;
  justify-content: space-between;
}

.divsignBtn button {
  font-size: 1.2rem;
  font-weight: bold;
}

.loginForm, .registerForm {
  margin: auto;
  width: 50vw;
}

.containerProfileImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 400px;
  margin: auto;
  border: 2px solid white;
  border-radius: 15px;
}

.containerFlex {
  display: flex;
  flex-wrap: wrap;
}

.miNavbar {
  width: 100vw;
}
